<div class="frame">
    <div class="gamepro">
        <p>开始时间：12:21</p>
        <p>总时长：40分钟</p>
        <p>模式：灵活排位</p>
    </div>
    <div class="winner">
        <div class="nametitle">
            获胜方
        </div>
        <div class="KDA">
            <i class="iconfont">
                &#xe688;
            </i>
            <i class="iconfont">
                &#xe600;
            </i>
            <i class="iconfont">
                &#xe609;
            </i>
        </div>
    </div>
    <div class="winnergamer">
        <!-- 循环从下面开始 -->
        <div class="gamer">
            <div class="left">
                <img src="" alt="英雄头像">
                <p>LV18</p>
            </div>
            <div class="right">
                <div class="middle">
                    <div class="gamerName">
                        孤军作战
                    </div>
                    <div class="equipment">
                        <img src="" alt="1">
                        <img src="" alt="2">
                        <img src="" alt="3">
                        <img src="" alt="4">
                        <img src="" alt="5">
                        <img src="" alt="6">
                    </div>
                </div>
                <div class="numKDA">
                    11/5/10
                </div>
            </div>
        </div>
    </div>
    <div class="loser">
        <div class="nametitle">
            失败方
        </div>
        <div class="KDA">
            <i class="iconfont">
                &#xe688;
            </i>
            <i class="iconfont">
                &#xe600;
            </i>
            <i class="iconfont">
                &#xe609;
            </i>
        </div>
    </div>
    <div class="losergamer">
        <!-- 循环从下面开始 -->
        <div class="gamer">
            <div class="left">
                <img src="" alt="英雄头像">
                <p>LV18</p>
            </div>
            <div class="right">
                <div class="middle">
                    <div class="gamerName">
                        孤军作战
                    </div>
                    <div class="equipment">
                        <img src="" alt="1">
                        <img src="" alt="2">
                        <img src="" alt="3">
                        <img src="" alt="4">
                        <img src="" alt="5">
                        <img src="" alt="6">
                    </div>
                </div>
                <div class="numKDA">
                    11/5/10
                </div>
            </div>
        </div>
    </div>
</div>