<div class="heroBasic">
    <div class="herobg">
        <img src="" alt="这个是背景图">
        <div class="brief">
            <p class="name">黑暗之女</p>
            <p class="seat">法师</p>
            <p class="ad">攻：2</p>
            <p class="ap">法：10</p>
            <p class="defense">防：3</p>
            <p class="operation">操作：4</p>
        </div>
    </div>
    <div class="control">
        <div class="skill">
            技能说明
        </div>
        <div class="skin">
            皮肤欣赏
        </div>
    </div>
</div>
<div class="heroSkill">

</div>
<div class="heroSkin">

</div>