<div class="publicFooter">
    <div routerLink='/home/news' routerLinkActive='active'>
        <i class="iconfont">
      &#xe638;
    </i>
        <p>
            资讯
        </p>
    </div>
    <div routerLink='/home/gamer' routerLinkActive='active'>
        <i class="iconfont">
      &#xe69b;
    </i>
        <p>
            玩家
        </p>
    </div>
    <div routerLink='/home/heroes' routerLinkActive='active'>
        <i class="iconfont">
      &#xe650;
    </i>
        <p>
            英雄
        </p>
    </div>
    <div routerLink='/home/video' routerLinkActive='active'>
        <i class="iconfont">
      &#xe627;
    </i>
        <p>
            视频
        </p>
    </div>
</div>

<!-- 在div上添加routerLink -->