.publicFooter {
  width: 100%;
  height: 8vh;
  background-color: #fafafa;
  box-shadow: -5px 3px 10px #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 1;
}
.publicFooter > div {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #6c6c6c;
}
.publicFooter > div i {
  font-size: 2.5rem;
}
.publicFooter .active {
  color: #2693d4;
}
