.notfoundimg {
  width: 100%;
  display: flex;
  padding: 5rem;
  box-sizing: border-box;
  justify-content: center;
}
.notfoundimg img {
  width: 100%;
  height: 100%;
}
.notfoundtext {
  width: 100%;
  display: flex;
  justify-content: center;
}
.notfoundtext p {
  font-size: 2rem;
  font-weight: 600;
  color: #515151;
}
button {
  width: 10rem;
  height: 3rem;
  background-color: #2693d4;
  color: white;
  position: relative;
  left: 50%;
  margin-left: -5rem;
  border-radius: .3rem;
  margin-top: .5rem;
}
button:active {
  background-color: #73baff;
}
