.welcomegb {
  width: 100%;
  height: 100vh;
  background-image: url(../../assets/index.jpg);
  background-size: 100% 100%;
  position: relative;
}
.welcomegb p {
  width: 100%;
  height: 4rem;
  text-align: center;
  color: white;
  font-size: 4rem;
  position: absolute;
  bottom: 25vh;
  left: 0;
  font-family: '黑体';
}
.welcomegb button {
  width: 8rem;
  height: 3rem;
  background-color: #2693d4;
  position: absolute;
  bottom: 18vh;
  left: 50%;
  margin-left: -4rem;
  color: white;
  font-size: 2rem;
  outline: none;
  border-radius: 3px;
}
