<div class="herolist">
    <div class="hero" *ngFor="let hero of herolist" [routerLink]="['/home/hero-detail',{id:hero.id}]">
        <img src="http://cdn.tgp.qq.com/pallas/images/champions_id/{{hero.id}}.png" alt="{{hero.cname}}">
        <div class="detail">
            <div class="fastName">
                {{hero.title}}
            </div>
            <marquee class="heroName" scrollamount="3" scrolldelay="100" onmouseover="this.stop()" onmouseout="this.start()">
                {{hero.cname}} ({{hero.ename}})
            </marquee>
        </div>
    </div>
</div>