.herolist{
    width: 100%;
    padding-bottom: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .hero{
        width: 50%;
        height: 10vh;
        margin-top: .2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 8vh;
            height: 8vh;
            border-radius: 50%;
            box-sizing: border-box;
            overflow: hidden;
            margin-right: 3vw;
        }
        .fastName{
            font-size: 2rem;
            font-weight: 400;
        }
        .heroName{
            font-size: 1.5rem;
        }
    }
}