<div class="frame">
    <div class="basicdetail">
        <div class="headerimg">
            <img src="" alt="头像">
        </div>
        <div class="level">
            等级
        </div>
        <div class="lineup">
            <div class="server">
                服务器
            </div>
            <div class="dan">
                段位
            </div>
        </div>
        <div class="linedown">
            <div class="fightlev">
                战斗力：数值
            </div>
            <div class="great">
                赞：数值
            </div>
        </div>
    </div>
    <div class="kill">
        
    </div>
    <div class="gamesresult">

    </div>
</div>