<div class="frame">
    <div class="basicdetail">
        <div class="headerimg">
            <img src="" alt="头像">
        </div>
        <div class="level">
            等级
        </div>
        <div class="lineup">
            <div class="server">
                服务器
            </div>
            <div class="dan">
                段位
            </div>
        </div>
        <div class="linedown">
            <div class="fightlev">
                战斗力：数值
            </div>
            <div class="great">
                赞：数值
            </div>
        </div>
    </div>
    <div class="kill">
        <div class="three">
            <i class="iconfont">
                &#xe604;
            </i>
            <p>
                三杀：真少
            </p>
        </div>
        <div class="four">
            <i class="iconfont">
                &#xe605;
            </i>
            <p>
                四杀：真少
            </p>
        </div>
        <div class="five">
            <i class="iconfont">
                &#xe603;
            </i>
            <p>
                五杀：真少
            </p>
        </div>
        <div class="allKill">
            <i class="iconfont">
                &#xe646;
            </i>
            <p>
                总击杀：会算数？
            </p>
        </div>
        <div class="MVP">
            <i class="iconfont">
                &#xe691;
            </i>
            <p>
                MVP：智障
            </p>
        </div>
        <div class="godLike">
            <i class="iconfont">
                &#xe602;
            </i>
            <p>
                超神：八杀才算！
            </p>
        </div>
    </div>
    <div class="gamesresult">
        <div class="match" routerLink="/home/the-war-detail">
            <div class="heroheader">
                <img src="" alt="英雄头像">
            </div>
            <div class="matchresult">
                <div class="lineup">
                    比赛结果
                </div>
                <div class="linedown">
                    比赛类型
                </div>
            </div>
            <div class="go">
                <i class="iconfont">
                    &#xe6a7;
                </i>
            </div>
        </div>
    </div>
</div>